In [72]:
import requests
import urllib.parse
import pandas as pd
import json

url = "https://api.themoviedb.org/3/authentication"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhYjE5MmQ5OTI0OTk1YTE5M2RmYzZlZTk0MTM2MTcyOSIsInN1YiI6IjVkMmRlOTQ2Y2FhYjZkMWU4MWEzNGZlMCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.-nGN0SoTgiiOgiKZa4sdek3ZCD0mbHt0sodkg4bxMAA"
}

response = requests.get(url, headers=headers)

print(response.text)

{"success":true,"status_code":1,"status_message":"Success."}

In [73]:
url = "https://api.themoviedb.org/3/genre/movie/list?language=en"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhYjE5MmQ5OTI0OTk1YTE5M2RmYzZlZTk0MTM2MTcyOSIsInN1YiI6IjVkMmRlOTQ2Y2FhYjZkMWU4MWEzNGZlMCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.-nGN0SoTgiiOgiKZa4sdek3ZCD0mbHt0sodkg4bxMAA"
}

response = requests.get(url, headers=headers)

print(response.text)

{"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":80,"name":"Crime"},{"id":99,"name":"Documentary"},{"id":18,"name":"Drama"},{"id":10751,"name":"Family"},{"id":14,"name":"Fantasy"},{"id":36,"name":"History"},{"id":27,"name":"Horror"},{"id":10402,"name":"Music"},{"id":9648,"name":"Mystery"},{"id":10749,"name":"Romance"},{"id":878,"name":"Science Fiction"},{"id":10770,"name":"TV Movie"},{"id":53,"name":"Thriller"},{"id":10752,"name":"War"},{"id":37,"name":"Western"}]}

In [74]:
raw_data = pd.read_csv('raw-data/watched.csv')
raw_data.head()

# want to expand this dataframe, exact release date, genres, etc. get this by using tmdb api

         Date                     Name  Year        Letterboxd URI
0  2019-03-26  Dragged Across Concrete  2018  https://boxd.it/fAly
1  2019-03-26                      Her  2013  https://boxd.it/4O24
2  2019-03-26                   Climax  2018  https://boxd.it/ikvo
3  2019-03-26        Kill Bill: Vol. 1  2003   https://boxd.it/70w
4  2019-03-26                Good Time  2017  https://boxd.it/fcFu

In [75]:
def find_id(title, year): 
    title_parsed = urllib.parse.quote(title)

    url = "https://api.themoviedb.org/3/search/movie?query={name}&include_adult=false&language=en-US&page=1&year={yr}".format(name = title_parsed, yr = year)

    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhYjE5MmQ5OTI0OTk1YTE5M2RmYzZlZTk0MTM2MTcyOSIsInN1YiI6IjVkMmRlOTQ2Y2FhYjZkMWU4MWEzNGZlMCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.-nGN0SoTgiiOgiKZa4sdek3ZCD0mbHt0sodkg4bxMAA"
    }

    response = requests.get(url, headers=headers)
    response_dict = json.loads(response.text)

    # this is assuming the first result is the correct match, not sure if theres a smarter way
    return response_dict['results'][0]['id']

print(find_id('Climax', 2018))
print(type(find_id('Jaws', 1975)))

def find_details(movie_id):

    url = "https://api.themoviedb.org/3/movie/{}?language=en-US".format(movie_id)
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhYjE5MmQ5OTI0OTk1YTE5M2RmYzZlZTk0MTM2MTcyOSIsInN1YiI6IjVkMmRlOTQ2Y2FhYjZkMWU4MWEzNGZlMCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.-nGN0SoTgiiOgiKZa4sdek3ZCD0mbHt0sodkg4bxMAA"
    }   
    response = requests.get(url, headers=headers)
    return json.loads(response.text) # looks like the second dict in dict_example.py

507076
<class 'int'>

In [76]:
find_id('Urotsukid≈çji: Legend of the Overfiend', 1989)
print(type(find_details(48624)['genres']))
print(find_details(48624)['production_countries'])

<class 'list'>
[{'iso_3166_1': 'JP', 'name': 'Japan'}]

In [77]:
def name_list(dict_list):
    final = []
    # every dict will have 'name', iterate and grab every name.
    for i in dict_list:
        final.append(i['name'])
    return final

print(name_list(find_details(48624)['genres']))
print(name_list(find_details(48624)['production_countries']))

['Animation', 'Action', 'Horror', 'Fantasy']
['Japan']

In [78]:
print(raw_data.loc[3]['Name'])
print(type(raw_data.loc[0]['Year']))
print(len(raw_data))

movie_count = len(raw_data)
movie_df = pd.DataFrame(columns = ['title','release_date','budget','revenue','runtime',
                                   'genres','original_language','production_countries','id'])

for i in range(movie_count):

    # want to use these two variables to find id on tmdb
    movie_title = raw_data.loc[i]['Name']
    release_year = raw_data.loc[i]['Year']
    
    try:
        movie_id = find_id(movie_title, release_year)
    except:
        print('the title: {x} at row {y} is bugged'.format(x=movie_title, y=i))
        continue
    details_dict = find_details(movie_id)
    
    genres = name_list(details_dict['genres'])
    production_countries = name_list(details_dict['production_countries'])

    movie_df.loc[i] = [
        details_dict['title'],
        details_dict['release_date'],
        details_dict['budget'],
        details_dict['revenue'],
        details_dict['runtime'],
        genres,
        details_dict['original_language'],
        production_countries,
        details_dict['id']
    ]

import os

os.makedirs('/home/gabe-fabia/Documents/letterboxd/new-data', exist_ok=True)
movie_df.to_csv('/home/gabe-fabia/Documents/letterboxd/new-data/movies.csv')

Kill Bill: Vol. 1
<class 'numpy.int64'>
1527

the title: Black Mirror: San Junipero at row 517 is bugged
the title: Band of Brothers at row 582 is bugged
the title: Black Mirror: USS Callister at row 591 is bugged
the title: Black Mirror: White Christmas at row 592 is bugged
the title: Black Mirror: Black Museum at row 593 is bugged
the title: Black Mirror: Crocodile at row 594 is bugged
the title: Black Mirror: Metalhead at row 595 is bugged
the title: Black Mirror: Fifteen Million Merits at row 596 is bugged
the title: Black Mirror: Be Right Back at row 597 is bugged
the title: Black Mirror: Hated in the Nation at row 598 is bugged
the title: Black Mirror: White Bear at row 599 is bugged
the title: Black Mirror: Nosedive at row 600 is bugged
the title: Black Mirror: Arkangel at row 601 is bugged
the title: Black Mirror: Hang the DJ at row 602 is bugged
the title: Black Mirror: Shut Up and Dance at row 604 is bugged
the title: Black Mirror: The Entire History of You at row 605 is bugged
the title: Black Mirror: Men Against Fire at row 606 is bugged
the title: Black Mirror: The Waldo Moment at row 607 is bugged
the title: Black Mirror: Playtest at row 608 is bugged
the title: Black Mirror: The National Anthem at row 609 is bugged
the title: The Jinx: The Life and Deaths of Robert Durst at row 832 is bugged
the title: Summer Heights High at row 833 is bugged
the title: FLCL at row 855 is bugged
the title: Horace and Pete at row 1066 is bugged
the title: Cowboy Bebop at row 1137 is bugged
the title: Australian Psycho at row 1142 is bugged
the title: Devilman Crybaby at row 1148 is bugged
the title: Gurren Lagann at row 1154 is bugged
the title: Samurai Champloo at row 1165 is bugged
the title: Terror in Resonance at row 1166 is bugged
the title: Neon Genesis Evangelion at row 1174 is bugged
the title: Euphoria: Trouble Don't Last Always at row 1259 is bugged
the title: Euphoria: F*ck Anyone Who‚Äôs Not a Sea Blob at row 1301 is bugged
the title: Steins;Gate at row 1324 is bugged
the title: Golden Boy at row 1388 is bugged
the title: Smiling Friends at row 1396 is bugged
the title: Too Old to Die Young at row 1430 is bugged
the title: Star Wars: Clone Wars at row 1492 is bugged

In [79]:
movies = pd.read_csv('new-data/movies.csv')
movies.head()

# this needs cleaning, drop first column, fix genres and produciton_companies

,Unnamed: 0,title,release_date,budget,revenue,runtime,genres,original_language,production_countries,id
0,0,Dragged Across Concrete,2018-09-03,15000000,660132,159,"['Crime', 'Action', 'Thriller']",en,"['Canada', 'United Kingdom', 'United States of...",438674
1,1,Her,2013-12-18,23000000,47351251,126,"['Romance', 'Science Fiction', 'Drama']",en,['United States of America'],152601
2,2,Climax,2018-09-19,2940457,1088907,97,"['Drama', 'Horror']",fr,"['Belgium', 'France', 'United States of America']",507076
3,3,Kill Bill: Vol. 1,2003-10-10,30000000,180906076,111,"['Action', 'Crime']",en,['United States of America'],24
4,4,Good Time,2017-08-11,0,3283369,102,"['Crime', 'Thriller']",en,['United States of America'],429200

In [85]:
movies = movies.loc[:, ~movies.columns.str.contains('^Unnamed')]
movies.head()

,title,release_date,budget,revenue,runtime,genres,original_language,production_countries,id
0,Dragged Across Concrete,2018-09-03,15000000,660132,159,"['Crime', 'Action', 'Thriller']",en,"['Canada', 'United Kingdom', 'United States of...",438674
1,Her,2013-12-18,23000000,47351251,126,"['Romance', 'Science Fiction', 'Drama']",en,['United States of America'],152601
2,Climax,2018-09-19,2940457,1088907,97,"['Drama', 'Horror']",fr,"['Belgium', 'France', 'United States of America']",507076
3,Kill Bill: Vol. 1,2003-10-10,30000000,180906076,111,"['Action', 'Crime']",en,['United States of America'],24
4,Good Time,2017-08-11,0,3283369,102,"['Crime', 'Thriller']",en,['United States of America'],429200

In [107]:
import ast

def genre_country_counter(list_of_lists):
    count_dict = {}
    for i in list_of_lists:
        x = ast.literal_eval(i)

        for j in x:
            try:
                count_dict[j] += 1
            except:
                count_dict[j] = 1
                continue
    
    return count_dict

In [112]:
genre_lists = movies['genres']
genre_lists.head()

0            ['Crime', 'Action', 'Thriller']
1    ['Romance', 'Science Fiction', 'Drama']
2                        ['Drama', 'Horror']
3                        ['Action', 'Crime']
4                      ['Crime', 'Thriller']
Name: genres, dtype: object

In [114]:
country_lists = movies['production_countries']
country_lists.head()

0    ['Canada', 'United Kingdom', 'United States of...
1                         ['United States of America']
2    ['Belgium', 'France', 'United States of America']
3                         ['United States of America']
4                         ['United States of America']
Name: production_countries, dtype: object

In [110]:
genre_country_counter(genre_lists)

{'Crime': 264,
 'Action': 540,
 'Thriller': 437,
 'Romance': 127,
 'Science Fiction': 285,
 'Drama': 518,
 'Horror': 221,
 'Western': 20,
 'War': 38,
 'Mystery': 148,
 'Adventure': 366,
 'Comedy': 470,
 'Fantasy': 216,
 'Documentary': 28,
 'Animation': 159,
 'Music': 39,
 'History': 29,
 'Family': 190,
 'TV Movie': 13}

In [111]:
genre_country_counter(country_lists)

{'Canada': 73,
 'United Kingdom': 220,
 'United States of America': 1252,
 'Belgium': 16,
 'France': 90,
 'Germany': 83,
 'South Korea': 18,
 'Japan': 81,
 'Czech Republic': 8,
 'Switzerland': 11,
 'Ireland': 12,
 'Greece': 2,
 'Netherlands': 5,
 'Brazil': 5,
 'Italy': 28,
 'Spain': 21,
 'Australia': 29,
 'South Africa': 5,
 'China': 29,
 'Hong Kong': 52,
 'New Zealand': 15,
 'Austria': 7,
 'Poland': 3,
 'Morocco': 2,
 'Mexico': 8,
 'India': 10,
 'Denmark': 6,
 'Malta': 2,
 'United Arab Emirates': 3,
 'Indonesia': 3,
 'Sweden': 8,
 'Bulgaria': 4,
 'Russia': 2,
 'Hungary': 4,
 'Taiwan': 1,
 'Panama': 1,
 'Ghana': 1,
 'Solomon Islands': 1,
 'Iceland': 1,
 'Nicaragua': 1,
 'Cuba': 1,
 'Thailand': 4,
 'Uganda': 1,
 'Ukraine': 1,
 'Uruguay': 1,
 'Paraguay': 1,
 'Serbia': 1,
 'Norway': 2,
 'Luxembourg': 1,
 'Colombia': 1,
 'Peru': 1,
 'Philippines': 1,
 'Czechoslovakia': 2,
 'Soviet Union': 1}

In [83]:
movies.to_csv('/home/gabe-fabia/Documents/letterboxd/new-data/movies_cleaned.csv')